
{% extends "base.html" %}
{% block content %}
    
        <div id="bannerimage5"></div> 
       

        
        <h3>//share// your experience.</h3>
        
        <script src="https://maps.googleapis.com/maps/api/js?key={{api}}&libraries=places&callback=initAutocomplete"
        async defer></script>
        <div id="locationField">
                
            <input id="autocomplete" placeholder="Enter your address"
                   onFocus="geolocate()" type="text", class="wideField"> </input>
        </div>
        <br><br>
        <form method='POST'>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for='street_number'>Street Address</label>
                            </td>
                            <td>
                                <input id="street_number", type="text" name='street', value='{{street}}', class= "slimField", required, disabled="true"/>
                                <span class = "error">{{street_error}}</span>
                                <input id ="route", type="text", name = 'route', value = '{{route}}', disabled="true"/>
                            </td>
                                
                        </tr>
                        <tr>
                            <td>
                                <label for='apt'>Apartment/Unit Number</label>
                            </td>
                            <td>
                                <input id='apt', type="text" name='apt', value='{{apt}}'/>
                                <span class = "error">{{apt_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='city'>City</label>
                            </td>
                            <td>
                                <input id="locality", type="text" name='city', value='{{city}}', required, disabled="true"/>
                                <span class = "error">{{city_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='state'>State (e.g., MO)</label>
                            </td>
                            <td>
                                <input id="administrative_area_level_1", class="slimField", type="text" name='state', value='{{state}}',required/>
                                <span class = "error">{{state_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='zipcode'>Zip Code </label>
                            </td>
                            <td>
                                <input id="postal_code", type="text" name='zipcode', value='{{zipcode}}', required/>
                                <span class = "error">{{zip_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='residence'>Type of residence</label>
                            </td>
                            <td>
                                <select id= 'residence' name="residence" required>
                                    <option value="">Select</option>
                                    <option value="apartment">Apartment building</option>
                                    <option value="townhouse">Town House</option>
                                    <option value="house">House</option>
                                </select>
                                <span class = "error">{{residence_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='room-number'>Number of bedrooms</label>
                            </td>
                            <td>
                                <select id= 'room-number' name="room-number" required>
                                    <option value="">Select</option>
                                    <option value="0BR">Studio</option>
                                    <option value="1BR">1BR</option>
                                    <option value="2BR">2BR</option>
                                    <option value="3BR">3BR</option>
                                    <option value="4+BR">4+BR</option>
                                </select>
                                <span class="error">{{room_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='building'>Building Name </label>
                            </td>
                            <td>
                                <input id="building", type="text" name='building', value='{{building}}'/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <legend>Amenitites (Select all that apply)</legend>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="amenities" id="laundry-in-unit" value="0"/>
                                <input type="checkbox" name="amenities" id="laundry-in-unit" value="laundry-in-unit"/><label class="checkbox" for="laundry-in-unit">Laundry in Unit</label>
                            </td>
                            <td>
                                <input type="hidden" name="amenities" id="communal-laundry" value="0"/>
                                <input type="checkbox" name="amenities" id="communal-laundry" value="communal-laundry"/><label class="checkbox" for="communal-laundry">Communal Laundry Facilities</label>
                            
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="amenities" id="dish-washer" value="0"/>    
                                <input type="checkbox" name="amenities" id="dish-washer" value="dish-washer"/><label class="checkbox" for="dish-washer">Dish Washer</label>
                            <td>
                                    <input type="hidden" name="amenities" id="off-street-parking" value="0"/>
                                <input type="checkbox" name="amenities" id="off-street-parking" value="off-street-parking"/><label class="checkbox" for="off-street-parking">Off-Street Parking</label>
                        </tr>    
                        <tr>
                            <td>
                                <input type="hidden" name="amenities" id="gym" value="0"/>
                                <input type="checkbox" name="amenities" id="gym" value="gym"/><label class="checkbox" for="gym">Gym/Workout Facilities</label>
                            </td>
                            <td>
                                <input type="hidden" name="amenities" id="swimming-pool" value="0"/>
                                <input type="checkbox" name="amenities" id="swimming-pool" value="swimming-pool"/><label class="checkbox" for="swimming-pool">Swimming Pool</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="amenities" id="elevator" value="0"/>
                                <input type="checkbox" name="amenities" id="elevator" value="elevator"/><label class="checkbox" for="elevator">Elevator</label>
                            </td>
                            <td>
                                <input type="hidden" name="amenities" id="central-air" value="0"/>
                                <input type="checkbox" name="amenities" id="central-air" value="central-air"/><label class="checkbox" for="central-air">Central Air</label>
                            </td>
                        </tr>     
                        <tr>
                            <td>
                                <input type="hidden" name="amenities" id="refrigerator" value="0"/>
                                <input type="checkbox" name="amenities" id="refrigerator" value="refrigerator"/><label class="checkbox" for="refrigerator">Refrigerator</label>
                            </td>
                            <td>
                                <input type="hidden" name="amenities" id="google-fiber" value="0"/>
                                <input type="checkbox" name="amenities" id="google-fiber" value="google-fiber"/><label class="checkbox" for="google-fiber">Google Fiber</label>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <label for='management'>Landlord/Property Management Company Name </label>
                            </td>
                            <td>
                                <input id="management", type="text" name='management', value='{{management}}'/>
                            </td>
                            <tr>
                                <td>
                                    <label for='rating'>Rating (scale of 1 - 10) </label>
                                </td>
                                <td>
                                        <select id= 'rating' name="rating" required>
                                            <option value="">Select</option>
                                            {% for i in range(1, 11): %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    <span class="error">{{rating_error}}</span>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                <label for='comment'>Explain your rating.</label>
                <textarea id='comment' cols="50" rows="4" name='comment'></textarea>
                <span class="error">{{comment_error}}</span>
                <input type="submit" value="Submit"/>
               
            </form> 
            <script>
                var placeSearch, autocomplete;
                var componentForm = {
                    street_number: 'short_name',
                    route: 'long_name',
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    postal_code: 'short_name'
                    };
                    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
                autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                    {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }

            function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();

                for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
                }
            }

            // Bias the autocomplete object to the user's geographical location,
            // as supplied by the browser's 'navigator.geolocation' object.
            function geolocate() {
                if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
                }
            }
              </script> 
              <br>
               <img class="center" src="https://i.imgur.com/4jEezu7.png" alt="pb logo"/>
               <p>
                    <a href="{{url_for('search')}}">Search placeBook</a><br>
                    <a href='/reviews?username={{session['username']}}'>Review, edit, or delete your posts</a><br>
                    <a href="{{url_for('logout')}}">Log out</a><br>
    
            </p> 
{% endblock %}