{% extends "base.html" %}
{% block content %}
<body>    
        <div id="bannerimage5"></div> 
        <a href="{{url_for('search')}}">Search placeBook</a><br>
        <a href="{{url_for('add')}}">Add a rental rating to placeBook</a><br>
        <a href="{{url_for('logout')}}">Log out</a><br>
        <h3>//edit// your review.</h3>
      


        <form method='POST'>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for='street'>Street Address</label>
                            </td>
                            <td>
                                <input id="street", type="text" name='street', value='{{street}}', placeholder="Street Number", required/>
                                <span class = "error">{{street_error}}</span>
                                <input it="route", type="text", name='route', value='{{route}}', placeholder="Street Name" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='apt'>Apartment/Unit Number</label>
                            </td>
                            <td>
                                <input id='apt', type="text" name='apt', value='{{apt}}'/>
                                <span class = "error">{{apt_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='city'>City</label>
                            </td>
                            <td>
                                <input id="city", type="text" name='city', value='{{city}}', required/>
                                <span class = "error">{{city_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='state'>State (e.g., MO)</label>
                            </td>
                            <td>
                                <input id="state", type="text" name='state', value='{{state}}'required/>
                                <span class = "error">{{state_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='zipcode'>Zip Code </label>
                            </td>
                            <td>
                                <input id="zipcode", type="text" name='zipcode', value='{{zipcode}}'required/>
                                <span class = "error">{{zip_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='residence'>Type of residence</label>
                            </td>
                            <td>
                                <select id= 'residence' name="residence" required>
                                    <option value="">Select</option>
                                    <option value="apartment">Apartment building</option>
                                    <option value="townhouse">Town House</option>
                                    <option value="house">House</option>
                                </select>
                                <span class = "error">{{residence_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='room-number'>Number of bedrooms</label>
                            </td>
                            <td>
                                <select id= 'room-number' name="room-number" required>
                                    <option value="">Select</option>
                                    <option value="0BR">Studio</option>
                                    <option value="1BR">1BR</option>
                                    <option value="2BR">2BR</option>
                                    <option value="3BR">3BR</option>
                                    <option value="4+BR">4+BR</option>
                                </select>
                                <span class="error">{{room_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='building'>Building Name </label>
                            </td>
                            <td>
                                <input id="building", type="text" name='building', value='{{building}}'/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <legend>Amenitites (Select all that apply)</legend>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="amenities" id="laundry-in-unit" value="laundry-in-unit"/><label class="checkbox" for="laundry-in-unit">Laundry in Unit</label>
                            </td>
                            <td>
                                <input type="checkbox" name="amenities" id="communal-laundry" value="communal-laundry"/><label class="checkbox" for="communal-laundry">Communal Laundry Facilities</label>
                            
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="amenities" id="washing-machine" value="washing-machine"/><label class="checkbox" for="washing-machine">Washing Machine</label>
                            <td>
                                    <input type="checkbox" name="amenities" id="off-street-parking" value="off-street-parking"/><label class="checkbox" for="off-street-parking">Off-Street Parking</label>
                        </tr>    
                        <tr>
                            <td>
                                <input type="checkbox" name="amenities" id="gym" value="gym"/><label class="checkbox" for="gym">Gym/Workout Facilities</label>
                            </td>
                            <td>
                                <input type="checkbox" name="amenities" id="swimming-pool" value="swimming-pool"/><label class="checkbox" for="swimming-pool">Swimming Pool</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="amenities" id="elevator" value="elevator"/><label class="checkbox" for="elevator">Elevator</label>
                            </td>
                            <td>
                                <input type="checkbox" name="amenities" id="central-air" value="central-air"/><label class="checkbox" for="central-air">Central Air</label>
                            </td>
                        </tr>     
                        <tr>
                            <td>
                                <input type="checkbox" name="amenities" id="refrigerator" value="refrigerator"/><label class="checkbox" for="refrigerator">Refrigerator</label>
                            </td>
                            <td>
                                <input type="checkbox" name="amenities" id="google-fiber" value="google-fiber"/><label class="checkbox" for="google-fiber">Google Fiber</label>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <label for='management'>Landlord/Property Management Company Name </label>
                            </td>
                            <td>
                                <input id="management", type="text" name='management', value='{{management}}'/>
                            </td>
                            <tr>
                                <td>
                                    <label for='rating'>Rating (scale of 1 - 10) </label>
                                </td>
                                <td>
                                        <select id= 'rating' name="rating" required>
                                            <option value="">Select</option>
                                            {% for i in range(1, 11): %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    <span class="error">{{rating_error}}</span>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                <label for='comment'>Describe your experience.</label>
                <textarea id='comment' cols="50" rows="4" name='comment' value={{comment}}></textarea>
                <span class="error">{{comment_error}}</span>
                <input type="submit" value="Submit"/>
                
            </form> 
            <img class="center" src="https://i.imgur.com/4jEezu7.png" alt="pb logo"/> 
            <br> 

    <a href='/delete_post?id={{posts.id}}'>delete this post</a>

</body>
{% endblock %}