{% extends "base.html" %}
{% block content %}

        <form method='POST'>
            <table>
                <tbody>
                    <div id="bannerimage3"></div>
                    <a href="{{url_for('search')}}">Search placeBook</a><br>
                    <a href='/reviews?username={{session['username']}}'/> Review, edit, or delete your posts</a><br>
                    <a href="{{url_for('logout')}}">Log out</a><br><br>

                    <h1>sign up. //help// your community.</h1>
                    

                    <tr>
                        <td>
                            <label for='username'>Username</label>
                        </td>
                        <td>
                            <input id="username", type="text" name='username', value='{{username}}'/>
                            <span class = "error">{{username_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='password'>Password</label>
                        </td>
                        <td>
                            <input id='password', type="password" name='password', value='{{password}}'/>
                            <span class = "error">{{password_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='verify'>Verify Password</label>
                        </td>
                        <td>
                            <input id="verify", type="password" name='verify', value='{{verify}}'/>
                            <span class = "error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='email'>Email </label>
                        </td>
                        <td>
                            <input id="email", type="text" name='email', value='{{email}}'/>
                            <span class="error">{{email_error}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit"/>
            
        </form>
        <img class="center" src="https://i.imgur.com/4jEezu7.png" alt="pb logo"/> 
{% endblock %}