{% extends "base.html" %}
{% block content %}
            <div id="bannerimage"></div>
            
            <h1>placeBook</h1> 
           
            <h3>Em[power]ing Renters</h3>
            
            <p>
                New to placeBook?
                <br>
                <a href="{{url_for('create')}}">Click here to create an account</a>
                <br>
                <br>
                <br>
                Already have an account?
                <br>
                <a href="{{url_for('login')}}">Login here </a>
            </p> 
            <br>
            <br>
            <br> 
            <img class="center" src="https://i.imgur.com/4jEezu7.png" alt="pb logo"/>  
{% endblock %}